@import "../../styles/config";

* {
  border: 0px solid black;
}


.paginationLink_container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70%;
  justify-content: space-between;

  @include media-query(md) {
    width: 90%;
  }

  .paginationLink_previous {
    padding-left: 7rem;

    @include media-query(md) {
      padding-left: 4.5rem;
    }

    @include media-query(sm) {
      padding-left: 1rem;
    }
  }

  .paginationLink_previous,
  .paginationLink_next {
    color: black;
    font-size: $header-font-size;
  }

  .paginationLink_next {
    padding-left: 7rem;

    @include media-query(md) {
      padding-left: 4.5rem;
    }

    @include media-query(sm) {
      padding-left: 1rem;
    }
  }
}

.blog_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;

  @include media-query(md) {
    flex-direction: column;
  }
}

.blogContent_container {
  width: 70%;

  ol {
    @include media-query(sm) {
    padding-left: 0px;
    }
  }

  @include media-query(md) {
    width: 100%;
    margin-left: 0rem;
  }
  
}

.blogNav_container {
  width: 20%;

  @include media-query(md) {
    width: 80%;
    margin-left: 3rem;
  }

  h2 {
    padding-top: 1rem;
    font-size: $header-font-size;
    font-weight: 1000;
  }

  h3 {
    margin: 0;
    line-height: 2rem;

    a {
      font-size: 14px;
    }
  }
}


.blogPost_container,
.blogNav_container {
  padding: 0rem 4rem;
  @include media-query(md) {
    padding: 0rem 1rem;
  }

  @include media-query(md) {
    margin-left: 1rem;
  }
}

.blog_list {
  list-style: none;
  margin-bottom: 2rem;
}

.blogNavList_container {
  margin-left: -40px;
}

.blogNav_list {
  list-style: none;
}

.blogNav_link {
  color: black;
  text-decoration: none;
}

.blog_title {
  font-size: $header-font-size + 0.5rem;
  text-decoration: none;
  color: black;
  font-weight: 1000;
}

.blog_content {
  a {
    display: none;
  }
  img {
    max-width: 60%;
    min-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    border: solid 5px white;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    @include media-query(md) {
      max-width: 60%;
      min-width: 50%;
    }
    @include media-query(sm) {
      max-width: 80%;
      min-width: 50%;
    }
  }

  figcaption {
    display: block;
    text-align: center;
    padding-top: 1rem;
  }
}

.blog_link {
  color: black;
}

strong {
  font-weight: 1000;
}
