@import "../../styles/config";

.footer {
    background: #353535;
    color: white;
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer_social {

}

.footer_social div {  //swap with icons
    display: inline;
}

.footer_copyright {

}