@import "../../styles/config";

.indexCarousel_container {
  background: none;
  width: 100%;
  height: 70vh;
  position: relative;
  margin: 0 auto;

  @include media-query(md) {
    height: 100%;
    //max-height: 87vh;
  }
}

.indexCarousel_button {
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0rem 2rem;

  i {
    color: black;
    font-size: 1rem;
  }
}

.indexCarousel_slideContainer {
  img {
    width: 100%;
    position: relative;
  }

  div {
    position: absolute;
    top: 30%;
    right: 10%;
    color: white;
    background-color: black;
    padding: 3rem 5rem;
    border-radius: 50%;

    @include media-query(md) {
      top: 20%;
    }

    h2 {
      font-size: 3rem;
      text-align: right;
      font-family: "Pacifico", cursive;

      @include media-query(md) {
        font-size: 2rem;
      }
      @include media-query(sm) {
        font-size: 1rem;
      }
    }

    p {
      color: white;
      font-family: "Pacifico", cursive;
      text-align: center;
      font-size: 2rem;

      @include media-query(md) {
        font-size: 1rem;
      }
      @include media-query(sm) {
        font-size: .5rem;
      }
    }
  }
}

.indexHeader {
  display: block;
  font-size: $header-font-size + .2;
  text-align: center;
}


.indexPost_container,
.indexItem_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.index_post,
.index_item {
  background: rgb(255, 255, 255);
  height: 220px;
  width: 275px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0rem 2rem 2rem 2rem;
  border-radius: 10%;
  padding: 1rem;
}

.post_excerpt {
  margin: 2.5rem 0rem;
}

.post_excerpt a {
  display: none;
}

.post_title {
  font-weight: 1000;
  text-decoration: none;
  color: black;
  font-size: $header-font-size;
}

.post_link {
  font-size: $font-size;
  text-decoration: underline;
  padding-left: 70%;
  color: black;
}
